@media (max-width:768px) {
    body {
        font-size: 1rem;
    }

    nav {
        justify-content: center;
    }

    .social-links {
        gap: 1rem;
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 1rem;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        flex-direction: column;
    }

    .modal .card {
        min-width: 80% !important;
    }

    .close {
        top: 50px;
        right: 80px;
    }

    #projects {
        flex-direction: column;

    }

    #contact {
        flex-direction: column;
    }

    #contact-content {
        align-items: center;
        text-align: center;
        height: 100%;
        width: auto;
    }

    #contact-form {
        width: 80%;
        height: 100%;
    }

    #about {
        flex-direction: column-reverse;
    }

    #skillset {
        transform: translateY(-1.5rem);
    }

    #skillset li {
        background-color: #00d544;
        padding: 1rem;
        border-radius: 100px;
        font-size: 0.5rem;
        
    }
}