
.modal .card {
    min-height: 50%;
    width: 25%;
    padding: 0;
  border-radius: 8px;
  overflow: hidden;
}

#modal-title {
    background-color: var(--color-2);
    height: 100%;
    width: 100%;
    text-align: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 90%;
    padding: 1rem;
    text-align: justify;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 40px;
  cursor: pointer;
}