* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color-1: #22424a;
    --color-2: #ff6347;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #22424a;
    color: white;
    line-height: 1.6;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header {
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: var(--color-2);
}

/* Classes */
.container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.social-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-left: auto;
}


/* Identifiers */
#home {
    background: #f4f4f4;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-image: url('../images/background-image.jpg');
    background-size: cover;
    background-position: center;

}

#home .content {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    font-size: xx-large;
}

#about {
    background: #e2e2e2;
    padding: 2rem;
}

#projects {
    background: #d1d1d1;
    padding: 2rem;
}

#contact {
    background: #c0c0c0;
    padding: 2rem;
}

#profile-image {
    filter: drop-shadow(0 4px 20px rgba(0, 0, 0, 0.5));
}